<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjetoFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
      <appSettings>
    <!-- Email gratuito via SMTP/Gmail: preencha SmtpUser, SmtpPass e SmtpFrom com o email e a senha de app. SMS foi removido. -->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="true" />
		 
		  <add key="SmtpUser" value="lauralikes2draw@gmail.com" />
		  <add key="SmtpPass" value="jdgb pvxn habi fitn" />
		  <add key="SmtpFrom" value="lauralikes2draw@gmail.com" />

	  </appSettings>
<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ProjetoFinal.Properties.Settings>
            <setting name="EmailSalvo" serializeAs="String">
                <value />
            </setting>
            <setting name="SenhaSalva" serializeAs="String">
                <value />
            </setting>
            <setting name="Lembrar" serializeAs="String">
                <value>False</value>
            </setting>
        </ProjetoFinal.Properties.Settings>
    </userSettings>
</configuration>